@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box {
  margin: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  -webkit-animation-name: myAnime;
          animation-name: myAnime;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 80px;
}
.box p {
  font-family: "Rubik Maze", cursive;
  color: white;
}

@-webkit-keyframes myAnime {
  10% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
    background-color: aquamarine;
    border: none;
    border-radius: 20px;
  }
  20% {
    -webkit-transform: translate(400px, 200px);
            transform: translate(400px, 200px);
    background-color: violet;
    border: none;
    border-radius: 30px;
  }
  30% {
    -webkit-transform: translate(700px, 200px);
            transform: translate(700px, 200px);
    background-color: aqua;
    border: none;
    border-radius: 40px;
  }
  40% {
    -webkit-transform: translate(700px, 400px);
            transform: translate(700px, 400px);
    background-color: orange;
    border: none;
    border-radius: 50px;
  }
  50% {
    -webkit-transform: translate(500px, 400px);
            transform: translate(500px, 400px);
    background-color: black;
    border: none;
    border-radius: 60px;
  }
  60% {
    -webkit-transform: translate(500px, 300px);
            transform: translate(500px, 300px);
    background-color: dodgerblue;
    border: none;
    border-radius: 12px;
  }
  70% {
    -webkit-transform: translate(200px, 300px);
            transform: translate(200px, 300px);
    background-color: darkorange;
    border: none;
    border-radius: 80px;
  }
  80% {
    -webkit-transform: translate(100px, 100px);
            transform: translate(100px, 100px);
    background-color: red;
    border: none;
    border-radius: 90px;
  }
  90% {
    -webkit-transform: translate(0px, 100px);
            transform: translate(0px, 100px);
    background-color: brown;
    border: none;
    border-radius: 8px;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    background-color: darkgreen;
    border: none;
    border-radius: 10px;
  }
}

@keyframes myAnime {
  10% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
    background-color: aquamarine;
    border: none;
    border-radius: 20px;
  }
  20% {
    -webkit-transform: translate(400px, 200px);
            transform: translate(400px, 200px);
    background-color: violet;
    border: none;
    border-radius: 30px;
  }
  30% {
    -webkit-transform: translate(700px, 200px);
            transform: translate(700px, 200px);
    background-color: aqua;
    border: none;
    border-radius: 40px;
  }
  40% {
    -webkit-transform: translate(700px, 400px);
            transform: translate(700px, 400px);
    background-color: orange;
    border: none;
    border-radius: 50px;
  }
  50% {
    -webkit-transform: translate(500px, 400px);
            transform: translate(500px, 400px);
    background-color: black;
    border: none;
    border-radius: 60px;
  }
  60% {
    -webkit-transform: translate(500px, 300px);
            transform: translate(500px, 300px);
    background-color: dodgerblue;
    border: none;
    border-radius: 12px;
  }
  70% {
    -webkit-transform: translate(200px, 300px);
            transform: translate(200px, 300px);
    background-color: darkorange;
    border: none;
    border-radius: 80px;
  }
  80% {
    -webkit-transform: translate(100px, 100px);
            transform: translate(100px, 100px);
    background-color: red;
    border: none;
    border-radius: 90px;
  }
  90% {
    -webkit-transform: translate(0px, 100px);
            transform: translate(0px, 100px);
    background-color: brown;
    border: none;
    border-radius: 8px;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    background-color: darkgreen;
    border: none;
    border-radius: 10px;
  }
}